<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="panel panel-info">
  <div class="panel-heading"><center><h3><b></b></h3></center></div>
    <div align="center" class="panel-body">

  <div class="field">
    <p><b>Titulo</b></p><br>
    <%= f.text_field :title, { :class=>"form-control" } %>
  </div>
  <div class="field">
    <p><b>Contenido</b></p><br>
    <%= f.text_area :body, { :class=>"form-control" }%>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.select :category, ['Deportes','Politica','Otros'] %>
  </div>
  <div class="actions">
    <%= f.submit  %>    
    <%= link_to 'Volver', posts_path , { :class=>"btn btn-default" }%>
  </div>
  
  </div>
  </div>

</div>


<% end %>
